@{
    ViewBag.Title = "Portal do Conhecimento - O maior aliado da educação.";
    Layout = null;
}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Denner Evaldt Machado.">
    <title>@ViewBag.Title</title>

    <!-- Favicon -->
    <link rel="icon" href="@Url.Content("~/Content/images/favicon.png")" />

    <!-- Css -->
    @Styles.Render("~/Content/css")

    <!-- Angular JS-->
    @Scripts.Render("~/Scripts/angular.js")
    @Scripts.Render("~/Scripts/app.js")
    @Scripts.Render("~/Scripts/controllers.js")
    @Scripts.Render("~/Scripts/diretives.js")

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/4.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1..2/respond.min.js"></script>
    <![endif]-->
</head>
<body ng-app="homeSite" ng-cloak>

    <div class="teachers col-sm-4 col-md-4 col-lg-4">
        <div class="content-teachers text-center">
            <h2>Olá Professor!</h2>
            <a href="#" class="btn btn-index" data-toggle="modal" data-target=".account-teacher">
                Inscreva-se Agora!
            </a>
        </div>
    </div>

    <div class="students col-sm-4 col-md-4 col-lg-4">
        <div class="content-students text-center">
            <h2>Olá Estudante!</h2>
            <a href="#" class="btn btn-index" data-toggle="modal" data-target=".account-student">
                Inscreva-se Agora!
            </a>
        </div>
    </div>

    <div class="col-sm-4 col-md-4 col-lg-4">

        <div class="header-login">
            <div class="text-center">
                <img class="img-logo" src="@Url.Content("~/Content/images/logo-portal.png")" alt="Logo">
            </div>
            <div class="fb-like"
                 data-share="true"
                 data-width="450"
                 data-show-faces="true">
            </div>
        </div>
        <form class="form-signin" method="post" id="loginform" name="loginform" ng-controller="LoginController" ng-submit="submit(loginform)" novalidate>
            <input type="email" id="inputEmail" name="inputEmail" ng-model="formLogin.inputEmail" class="form-control" placeholder="Email address" required>

            <input type="password" id="inputPassword" name="inputPassword" ng-model="formLogin.inputPassword" class="form-control" placeholder="Password" required>

            <div class="checkbox text-center">
                <label>
                    <input type="checkbox" id="inputRememberme" name="inputRememberme" ng-model="formLogin.inputRememberme" value="remember-me"> Lembrar-me
                </label>
                <label>
                    <a href="#" align="right" data-toggle="modal" data-target=".change-key"><u>Esqueci a minha senha</u></a>
                </label>
            </div>

            <button class="btn btn-lg btn-success btn-block" type="submit" ng-disabled="loginform.inputEmail.$error.required || loginform.inputPassword.$error.required">Entrar</button>

            <a href="@ViewBag.UrlFb" class="btn btn-primary btn-block">Login com Facebook <i class="fa fa-facebook-official" style="margin-left: 5px;"></i></a>

            <div class="text-center loading-login">
                <img class="img-loading" src="@Url.Content("~/Content/images/loader.gif")" alt="Loading" ng-show="loading" />
            </div>

            <div style="color:#fff;" ng-class="result">{{ resultMessage }}</div>
        </form>

        <footer class="footer">
            <ul class="list-inline">
                <li><a href="#" target="_blank"><i class="fa fa-facebook-official"></i></a></li>
                <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#" target="_blank"><i class=" fa fa-instagram"></i></a></li>
                <li><a href="#" data-toggle="modal" data-target=".about">Sobre</a></li>
                <li><a href="#" data-toggle="modal" data-target=".contact">Contato</a></li>
            </ul>
        </footer>

        <!-- Modal About -->
        <div class="modal fade about" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title-custom">Sobre o Portal do Conhecimento</h4>
                    </div>
                    <div class="modal-body">
                        ...
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Fechar</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal Contact -->
        <div class="modal fade contact" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title-custom">Entre em contato com o Portal do Conhecimento</h4>
                    </div>
                    <div class="modal-body" ng-controller="ContactController">
                        <!--Start Contact form -->
                        <form name="contactform" id="contactform" method="post" ng-submit="submit(contactform)" role="form">
                            
                            <div class="form-group" ng-class="{ 'has-error has-feedback': contactform.name.$dirty && contactform.name.$error.required }">
                                <label class="control-label">Nome</label>
                                <div>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                        <input ng-model="formData.name" type="text" class="form-control" id="name" name="name" placeholder="Nome" required>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group" ng-class="{ 'has-error has-feedback' : contactform.email.$dirty && contactform.email.$error.email }">
                                <label class="control-label">Email</label>
                                <div>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                                        <input ng-model="formData.email" type="email" class="form-control" id="email" name="email" placeholder="Email" required>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group" ng-class="{ 'has-error has-feedback': contactform.message.$dirty && contactform.message.$error.required }">
                                <label class="control-label">Mensagem</label>
                                <div>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                                        <textarea ng-model="formData.message" class="form-control" id="message" name="message" rows="4" cols="78" placeholder="Mensagem" required></textarea>
                                    </div>
                                </div>
                            </div>

                            <div class="text-center">
                                <input type="reset" value="Limpar" class="btn btn-default" />
                                <input type="submit" value="Enviar Mensagem" class="btn btn-success" ng-disabled="submitButtonDisabled" />
                                <img class="img-loading" src="@Url.Content("~/Content/images/loader.gif")" alt="Loading" ng-show="loading" />
                             </div>

                        </form>
                        <!--End Contact form -->
                        <div ng-class="result">{{ resultMessage }}</div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Fechar</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal Create Account Student -->
        <div class="modal fade account-student" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content" ng-controller="ChangeKeyController">
                    @Html.Partial("~/Views/account/createaccountstudent.cshtml")
                </div>
            </div>
        </div>

        <!-- Modal Create Account Teacher -->
        <div class="modal fade account-teacher" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    @Html.Partial("~/Views/account/createaccountteacher.cshtml")
                </div>
            </div>
        </div>

        <!-- Modal Esqueci a minha Senha -->
        <div class="modal fade change-key" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content" ng-controller="ChangeKeyController">
                    @Html.Partial("~/Views/account/changekey.cshtml")
                </div>
            </div>
        </div>
    </div>

    <!-- jQuery -->
    @Scripts.Render("~/Scripts/jquery.js")
    @Scripts.Render("~/Scripts/jquery.form.js")

    <script type="text/javascript">

        jQuery(document).ready(function () {

            $("#loadingTeacher").hide();
            $("#loadingStudent").hide();

            $('#formTeacher').on('submit', function (e) {
                e.preventDefault(); 
                $("#loadingTeacher").show();
                $("#submitButtonTeacher").prop("disabled", true);
                $(this).ajaxSubmit({
                    url: '/account/createaccountteacher',
                    type: 'post',
                    success: function (returnData) {
                        console.log(returnData);

                        var data = JSON.parse(returnData);

                        if (data.success == true) {
                            $("#loadingTeacher").hide();
                            $("#resultPhoto").removeClass("bg-danger");
                            $("#resultTeacher").toggleClass("bg-success");
                            $("#resultTeacher").html(data.message);
                            $("#submitButtonTeacher").prop("disabled", true);
                            location.href = data.location;
                        }
                        else {
                            $("#loadingTeacher").hide();
                            $("#resultPhoto").removeClass("bg-success");
                            $("#resultTeacher").toggleClass("bg-danger");
                            $("#resultTeacher").html(data.message);
                            $("#submitButtonTeacher").prop("disabled", false);
                        }
                    }
                })
            });

            $('#formStudent').on('submit', function (e) {
                e.preventDefault(); 
                $("#loadingStudent").show();
                $("#submitButtonStudent").prop("disabled", true);
                $(this).ajaxSubmit({
                    url: '/account/createaccountstudent',
                    type: 'post',
                    success: function (returnData) {
                        console.log(returnData);

                        var data = JSON.parse(returnData);

                        if (data.success == true) {
                            $("#loadingStudent").hide();
                            $("#resultStudent").removeClass("bg-danger");
                            $("#resultStudent").toggleClass("bg-success");
                            $("#resultStudent").html(data.message);
                            $("#submitButtonStudent").prop("disabled", true);
                            location.href = data.location;
                        }
                        else {
                            $("#loadingStudent").hide();
                            $("#resultStudent").removeClass("bg-success");
                            $("#resultStudent").toggleClass("bg-danger");
                            $("#resultStudent").html(data.message);
                            $("#submitButtonStudent").prop("disabled", false);
                        }
                    }
                })
            });
    });
    </script>

    <!-- Plugins -->
    @Scripts.Render("~/bundles/bootstrap")

</body>
</html>
